.add {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.content{
  padding: 50px 5vh;
}
hr {
  width: 90%;
}
div{
  height: 30px;
  padding: 5px 0px;
  line-height: 30px;
}
.checked{
  text-decoration: line-through;
}
form{
  display: flex;
  flex-direction: column;
}