.button-submit{
    width: 80px;
    height: 30px;
    padding: 5px;
    background-color: #0070f3;
    color: #fff;
    border-radius: 5px;
  }
  .button-submit:hover{
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.2) inset;
    -webkit-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.2) inset;
    -moz-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.2) inset;
  }
  .button-submit:active{
    background-color: #005ec9;

  }